$* .header {
    width: 100px;
    height: 100px;
    background-color: white;
    color: black
}

.h1 {
    background-color: white;
    color: black;
}

.img {
    background-color: white;
    color: black
}

.div {
    background-color: white;
    color: black;
}

.footer {
    background-color: #000000;
    color: #111111;
}


}

}
.footer {
    display: grid;
}